@font-face {
    font-family: 'Nexa';
    src: url('/assets/Fonts/Nexa-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: '';
    src: url() format('truetype');
}
@font-face {
    font-family: '';
    src: url() format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: '', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

.bg_container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(40deg, #4087d8, #230674,#052650, #0d889e);
    background-size: 300% 300%;
    animation: color 19s ease-in-out infinite;
    z-index: 20;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

header {
    text-align: center;
    height: 100%;
    padding: 20px 0;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

nav {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Ensure spacing between h1 and ul */
    align-items: center; /* Vertically align h1 and ul */
    padding: 20px 0.7em;
}

nav h1 {
    text-align: left;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

ul li {
    margin-left: 5px; /* Add space between list items */
}

nav a {
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #3c7c8db4;
    color: white;
}

#About {
    opacity: 1;
}

.footers {
    display: grid;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: white;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: 100%;
    opacity: 0.860;
    background-color: rgb(53, 53, 53);
}