body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
    background: #202731;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

header {
    background-color: #004898; 
}

.Nav_Links {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

header, footer {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 19;

}

section, article  {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px, 20vw;
}

